.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: #404bbf;
}

.address-link {
  font-weight: 400;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
