.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.portfolio-subtitles {
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-description {
  font-weight: 400;
  color: #434455;
}
